doctype html
html
	head
		title Miaou - Sample
		link(id="favicon",rel="icon",type="image/png",href="static/M-32.png")
		link(rel='stylesheet', href='static/themes/'+theme+'/miaou.css')
	body.sample
		p This is a sample view.
		p
			a(href="https://github.com/Canop/miaou-sample-view") See the source on GitHub
